h1{font-family: Constantia;
  color: #009933;
  font-size: 500;
  text-align: center;
}
div{text-align: center;
}
img.align-right {
 float: right;
 margin-left: 70px;
}
img.align-center {
 margin: auto;
}
txtl{
  text-align: left;
}
